<%- include('includes/head.ejs') %>
            <br> <h2> Rutas a las que puedes acceder: </h2> <br>
            <ul> 
                <li> /info: Información sobre el anime </li>
                <li> /personajes: Personajes principales </li>
                <li> /personal: Cuéntanos sobre ti </li>
            </ul> <br>
<%- include('includes/foot.ejs') %>