<%- include('includes/head.ejs') %>
            
            <h2 class="title">
                Bienvenido
            </h2>

            <% if (error != '') { %>
                <strong> <%= error %> </strong>
            <% } %>

            <form action="/users/login" method="POST">

                <input type="hidden" name="_csrf" value="<%= csrfToken %>">

                <label class="label" for="username"> Nombre de usuario: </label>
                <input class="input text" id="username" name="username"> <br>

                <label class="label" for="password"> Contraseña: </label>
                <input class="input text" type="password" id="password" name="password"> <br>
                
                <br> <input class="button" type="submit" value="¡Listo!">
            </form>

<%- include('includes/foot.ejs') %>