<!DOCTYPE html>
<html>
    <head>
        <title> Lab 10 </title>
        <style> 
            body {
                background-color: #033a26; color: #f2f2f2; font-family: system-ui;
            }
            .centrado { 
                text-align: center;
            }
        </style>
    </head>
    <body>
        <h1 class="centrado"> Bungou Stray Dogs </h1>
        <p class="centrado"> Información actualizada del anime </p> <br>

        <form method="POST">
            <label for="nombre"> Nombre: </label>
            <input type="text" id="nombre" name="nombre" required> <br>

            <label> Personaje favorito: </label>
            <input type="text" id="personaje" name="personaje"> <br>

            <input type="submit" value="Enviar">
        </form> <br>

        <footer>
            <p class="centrado"> ¡ Gracias por visitar esta página ! </p>
            <p class="centrado"> Vuelve pronto </p>
        </footer>
    </body>
</html>