<%- include('includes/header') %>
            <br> <h2> Personajes principales: </h2> <br>
            <ul>
                <li> Atsushi Nakajima </li>
                <li> Osamu Dazai </li>
                <li> Doppo Kunikida </li>
                <li> Ranpo Edogawa </li>
                <li> Junichirou Tanizaki </li>
                <li> Kenji Miyazawa </li>
                <li> Akiko Yosano </li>
                <li> Yukichi Fukuzawa </li>
<%- include('includes/foot') %>