<%- include('includes/head.ejs') %>
        <p class="centrado"> Información actualizada del anime </p> <br>

        <form method="POST">
            <label for="nombre"> Nombre: </label>
            <input type="text" id="nombre" name="nombre" required> <br>

            <label for="edad"> Edad: </label>
            <input type="text" id="edad" name="edad" required> <br>

            <label for="personaje"> Personaje favorito: </label>
            <input type="text" id="personaje" name="personaje"> <br>

            <input type="submit" value="Enviar">
        </form> <br>
<%- include('includes/foot.ejs') %>