<%- include('includes/head.ejs') %>
            <br> <h2> Personajes secundarios: </h2> <br>
            <ul>
                <li> Ryunosuke Akutagawa </li>
                <li> Chūya Nakahara </li>
                <li> Ōgai Mori</li>
                <li> Gin Akutagawa </li>
                <li> Sakunosuke Oda </li>
                <li> Michizō Tachihara </li>
            </ul>
<%- include('includes/foot.ejs') %>