<!DOCTYPE html>
<html>
    <head>
        <title> Lab 10 </title>
        <%- include('style.ejs') %>
    </head>
    <body>
        <%- include('navbar.ejs', {username: username}) %>

        <h1 class="centrado"> Bungou Stray Dogs </h1>
        <p class="centrado"> Información actualizada del anime </p> <br>