<!DOCTYPE html>
<html>
    <head>
        <title> Lab 10 </title>
        <style> 
            body {
                background-color: #033a26; color: #f2f2f2; font-family: system-ui;
            }
            .centrado { 
                text-align: center;
            }
        </style>
    </head>
    <body>
        <navbar>
            <a href="/"> Home </a>
            <a href="/info"> Información </a>
            <a href="/personajes"> Personajes principales </a>
            <a href="/secundarios"> Personajes secundarios </a>
            <a href="/personal"> Información personal </a>
        </navbar>

        <h1 class="centrado"> Bungou Stray Dogs </h1>