        <div class="navbar">
            <a href="/"> Home </a>
            <a href="/info"> Información </a>
            <a href="/personajes"> Personajes principales </a>
            <a href="/personajes/secundarios"> Personajes secundarios </a>
            <% for (privilegio of privilegios) {            %>
                <% if (privilegio == 'subir_info_personal') {  %>
                    <a href="/personal"> Información personal </a>
                <% } %>
            <% } %>

            <% if (username == '') { %>
                <a href="/users/login"> Iniciar sesión </a>
                <a href="/users/signup"> ¡Regístrate! </a>
            <% } else { %>
                <p> ¡Hola, <%= username %>! &nbsp;&nbsp; </p>
                <a href="/users/logout"> Cerrar sesión </a>
            <% } %>
        </div>